<!-- Main Navigation -->
		<nav>
			<div class="mj-container mj-align-center">
				<a class="mj-logo mj-section-link" href="#">MJ!</a>
				<ul class="mj-navigation">
					<li>
						<a class="mj-section-link" href="#">Home</a>
					</li>
					<li>
						<a class="mj-section-link" href="#mj-about">About Us</a>
					</li>
					<li>
						<a class="mj-section-link" href="#mj-gallery">Gallery</a>
					</li>
					<li>
						<a class="mj-section-link" href="#mj-testimonials">Testimonials</a>
					</li>
					<li>
						<a class="mj-section-link" href="#mj-contact">Contact</a>
					</li>
				</ul>
				<i class="icon-menu mj-nav-toggle"></i>
			</div>
		</nav>

		<!-- Header Content -->
		<section class="mj-header-content">
			<div class="mj-header-text">
				<h1 class="mj-pulsate">Inspector Jeffy!</h1>
				<i class="mj-arrow mj-section-link" data-href="#mj-about"></i>
			</div>
			<img class="mj-main-banner" src="./img/main-banner.jpg" alt="mjesome main banner" />
		</section>
