<!-- Main Content -->
<section>

  <!-- About us -->
  <section id="mj-about" class="mj-container mj-section">

    <h3>About us</h3>

    <div class="mj-column">
      <i class="icon-trophy"></i>
      <p>“If there's one thing you learn by working on a lot of different Web sites, it's that almost any design idea--no matter how appallingly bad--can be made usable in the right circumstances, with enough effort.” </p>
    </div>

    <div class="mj-column">
      <i class="icon-rocket"></i>
      <p>“Remember, the web isn't about control. If a visitor to your site is familiar with using a browser's native form doodad, you won't be doing them any favors if you override the browser functionality with your own widget, even if you think your widget looks better.”</p>
    </div>

    <div class="mj-column">
      <i class="icon-leaf"></i>
      <p>“Design doesn't mean that every person gonna like, love it .
but that's the creativity of those eye which creates something different.”</p>
    </div>

    <div class="mj-column">
      <i class="icon-briefcase"></i>
      <p>“To become successful online, you only need to remember the following : Good Heart + Passion + Web Design + SEO + Digital Marketing + Dedication + Positiveness + Patience = Success” </p>
    </div>

  </section>

  <!-- Gallery -->
  <ul id="mj-gallery">
    <li>
      <img src="./img/gallery/gallery-1.jpg" alt="" />
    </li>
    <li>
      <img src="./img/gallery/gallery-2.jpg" alt="" />
    </li>
    <li>
      <img src="./img/gallery/gallery-3.jpg" alt="" />
    </li>
    <li>
      <img src="./img/gallery/gallery-4.jpg" alt="" />
    </li>
    <li>
      <img src="./img/gallery/gallery-5.jpg" alt="" />
    </li>
    <li>
      <img src="./img/gallery/gallery-6.jpg" alt="" />
    </li>
    <li>
      <img src="./img/gallery/gallery-7.jpg" alt="" />
    </li>
    <li>
      <img src="./img/gallery/gallery-8.jpg" alt="" />
    </li>
    <li>
      <img src="./img/gallery/gallery-9.jpg" alt="" />
    </li>
    <li>
      <img src="./img/gallery/gallery-10.jpg" alt="" />
    </li>
    <li>
      <img src="./img/gallery/gallery-11.jpg" alt="" />
    </li>
    <li>
      <img src="./img/gallery/gallery-12.jpg" alt="" />
    </li>
    <li>
      <img src="./img/gallery/gallery-13.jpg" alt="" />
    </li>
    <li>
      <img src="./img/gallery/gallery-14.jpg" alt="" />
    </li>
    <li>
      <img src="./img/gallery/gallery-15.jpg" alt="" />
    </li>
  </ul>

  <!-- mjesome Testimonials -->
  <section id="mj-testimonials" class="mj-section">
    <h3>mjesome testimonials</h3>

    <div class="mj-testimonials">

      <ul>
        <li>
          <div class="mj-user-data">
            <img src="./img/users/user-1.jpg" alt="" />
            <span class="mj-user-name">Alicia Shannon</span>
          </div>
          <p>“If there's one thing you learn by working on a lot of different Web sites, it's that almost any design idea--no matter how appallingly bad--can be made usable in the right circumstances, with enough effort.” </p>
        </li>
        <li>
          <div class="mj-user-data">
            <img src="./img/users/user-2.jpg" alt="" />
            <span class="mj-user-name">Jack Wilson</span>
          </div>
          <p>" Vivamus id metus ut ligula rutrum rhoncus. Vivamus ornare ipsum quis tincidunt commodo. Morbi eget diam sit amet
            sapien maximus semper. Pellentesque condimentum lacus vitae enim porta. "</p>
        </li>
        <li>
          <div class="mj-user-data">
            <img src="./img/users/user-3.jpg" alt="" />
            <span class="mj-user-name">Sienna Johnson</span>
          </div>
          <p>" Etiam dui nulla, laoreet at arcu ut, iaculis lacinia dolor. Fusce ac feugiat lectus. Fusce sodales nisl egestas,
            scelerisque nisl eu, suscipit neque. Pellentesque dapibus massa augue, vitae porta lorem viverra vitae. "</p>
        </li>
      </ul>

      <i id="mj-testimonials-prev" class="mj-arrow mj-arrow-left"></i>
      <i id="mj-testimonials-next" class="mj-arrow mj-arrow-right"></i>
    </div>

  </section>

  <!-- Contact -->
  <section id="mj-contact" class="mj-section">
    <h3>Contact us</h3>

    <form action="" method="" id="clickedByForm" >
      <input type="text" name="name" placeholder="Name" id="firstname" required/>
      <input type="text" name="lastname" placeholder="lastname" id="lastname" />
      <input type="email" name="email" placeholder="Email"  id="email"/>
      <textarea placeholder="Your Message" id="message"></textarea>

    <input type="button" class="btn btn-danger btn-lg btn-block" id="btn1" value="Send"/>
    </form>

</section>
